<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-card color="light">
          <img src="../../../../assets/img/logo.png" style="width: 40%" />
          <ion-card-header>
            <ion-card-title>Username: Admin</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-textarea type="text" maxlength="100" placeholder="Fill in your bio. Where do you like to wandR?"
              value="{{ fetchBio('example') }}">
            </ion-textarea>
          </ion-card-content>
        </ion-card>
        <!-- <ion-card color="light">
          <ion-card-header>
            <ion-card-title>Add Friend:</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-input placeholder=" Add a friend to see where they wandR?">
            </ion-input>
          </ion-card-content>
        </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
