<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-list>
          <ion-item *ngFor="let post of generatePosts()">
            <ion-avatar slot="start">
              <img [src]="post.profile">
            </ion-avatar>
            <ion-label>
              <h2>{{ post.name }}</h2>
              <h3>{{ post.body }}</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
