<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../../../assets/img/louisTest.png">
            </ion-avatar>
            <ion-label>
              <h2>Among Us Imposter</h2>
              <h3>I flew 4E10^25 miles through deep space!</h3>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-avatar slot="start">
              <img src="../../../../assets/img/kumar.jpg">
            </ion-avatar>
            <ion-label>
              <h2>Kumar</h2>
              <h3>I went for a 10 mile bike ride.</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
