<!-- Tabs Components -->
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="today">
        <ion-label>Today</ion-label>
        <ion-icon name="today-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="feed">
        <ion-label>Feed</ion-label>
        <ion-badge>6</ion-badge> <!-- # of things for Today -->
        <ion-icon name="earth-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="journal">
        <ion-label>Journal</ion-label>
        <ion-icon name="journal-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <ion-label>Account</ion-label>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
