<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>Today</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-text-center">
    <ion-row>
      <ion-col>
        <h3>{{ "Total Distance:" | uppercase }}</h3>
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title>{{ getTotalDistance() | number : '1.2-2' }}</ion-card-title>
            <ion-card-subtitle>miles</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-button size="medium" (click)="onAboutTotal()">What is this value?</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>{{ "Max Distance From Starting Point:" | uppercase }}</h3>
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title size="large">{{ getMaxDistance() | number : '1.2-2' }}</ion-card-title>
            <ion-card-subtitle>miles</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-button size="medium" (click)="onAboutMax()">What is this value?</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-align-items-start">
      <ion-col size="4" class="ion-no-padding">
        <ion-card color="light">
          <ion-card-content>
            <ion-icon name="bicycle-outline" slot="center"></ion-icon>
            <ion-card-subtitle>Go Biking</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <ion-card color="light">
          <ion-card-content>
            <ion-icon name="walk-outline"></ion-icon>
            <ion-card-subtitle>Go Walking</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <ion-card color="light">
          <ion-card-content>
            <ion-icon name="football-outline"></ion-icon>
            <ion-card-subtitle>Play Footall</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
